* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #F26419;
    --orange: #F6AE2D;
    --dark-blue: #33658A;
    --LIGHT-BLUE: #86BBD8;
    --DARK: #2F4858;
}

BODY {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*align container*/

.container__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 2px;
    color: var(--dark-blue);
    /*te dime me shume per kafshet */
}

p {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 22px;
    margin: 2rem 0;
    color: var(--red);
}

a {
    text-decoration: none;
}

.ul li {
    list-style-type: none;
    /*supozohet te hiqen ato bullets,s jan heq akoma*/
}


/*hero area*/

#hero__area {
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
}

#hero__area nav {
    height: 10%;
    width: 80%;
}

.logo {
    color: var(--orange);
}

nav.logo {
    color: var(--orange);
}

nav a {
    color: var(--DARK);
    /*akseson te nav ,home,furnizues,qen,mace,shpend*/
    margin: 0 20px;
}

nav a:hover {
    /*hover perdoret ne mom qe ne e shtypim e cojme krusorin aty ,ajo nga ngjyra qe kemi vendosur behet orange prsh*/
    color: var(--red);
}

.landing__content {
    height: 90%;
    width: 80%;
}

.landing__content .landing__info {
    width: 100%;
    height: 100%;
}

.landing__info h1 {
    color: var(--light-blue);
}

.landing__info p {
    color: var(--LIGHT-BLUE);
    width: 60%;
    /*width e perdorim 60 sepse gjeresia e p vetem me 60 del bukur*/
}

.landing__info button {
    border: none;
    background: transparent;
    outline: none;
}

.landing__info button:active
/*butoni qe kemi "me teper" aktivizohet nga perdoruesi*/

{
    text-transform: translateY(2px);
}

.landing__info a {
    /*ate butonin e bejme me background orange dhe shkrimin ngjyre blu,gjithashtu i vendosim nje radius*/
    color: var(--dark-blue);
    background-color: var(--orange);
    padding: 10px 20px;
    border-radius: 200px;
    /*behet butoni si rrumbullak,i coptohen rrethet*/
    text-transform: uppercase;
}

.image__pet {
    width: 70%;
    height: 100%;
    background: url('dog.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


/*duhet te vendoset me poshte help*/


/*help*/

#help {
    width: 100vw;
    max-width: 1200px;
    margin: 3rem auto;
}

.help__cards--container {
    padding: 2rem;
}

#help .help__card {
    position: relative;
    margin: 0 5%;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    padding: 60px 10px;
}

.help__card:first-of-type {
    /*kemi 3 klasa njelloj me te  njetin emer,me pseudoclasen i aksesojme keto klasa vecmas*/
    background-color: var(--red);
}

.help__card:nth-of-type(2) {
    background-color: var(--orange);
}

.help__card:nth-of-type(3) {
    background-color: var(--LIGHT-BLUE);
}

.help__card h3,
.help__card p {
    color: white;
    /*kjo eshte per ngjyren e tekstit brenda atyre kuadrateve me ngjyra,pra behet shkrimi i bardhe*/
}

.help__card span {
    /*kjo eshte per ate qen,mace dhe shpend*/
    position: absolute;
    top: 5%;
    left: 0;
    background: white;
    padding: 5px;
    color: var(--red);
}

.help__card:first-of-type span {
    color: var(--red);
}

.help__card:nth-of-type(2) span {
    color: var(--orange);
}

.help__card:nth-of-type(3)span {
    color: var(--LIGHT-BLUE);
}

.help__card .card__link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 99;
    opacity: 0;
}

.help__card:hover .card__link {
    animation: showLink;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showLink {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}

.card__link a {
    background-color: var(--dark-blue);
    color: var(--orange);
    padding: 10px 20px;
    border-radius: 20px;
    /*kjo i ben ato butonat e bukur me bakground blu te erret ,ato adopt,join*/
}


/*gallery*/

#gallery {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 33%);
    margin: 2rem 0;
}

.img__gallery {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

#img-1 {
    grid-column: 1/3;
    grid-row: 1/3;
}

#img-2 {
    grid-column: 1/2;
    grid-row: 3/4;
}

#img-3 {
    grid-column: 2/3;
    grid-row: 3/4;
}

#img-4 {
    grid-column: 3/4;
    grid-row: 1/2;
}

#img-5 {
    grid-column: 3/4;
    grid-row: 2/4;
}

#img-6 {
    grid-column: 4/6;
    grid-row: 3/4;
}

#img-7 {
    grid-column: 4/5;
    grid-row: 2/3;
}

#img-8 {
    grid-column: 4/6;
    grid-row: 1/2;
}

#img-9 {
    grid-column: 5/6;
    grid-row: 2/3;
}


/*contact form*/

form {
    width: 60vw;
    max-width: 800px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

form .form__row {
    width: 100%;
    position: relative;
}

.form__row input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: solid 1px var(--LIGHT-BLUE);
    outline: none;
}


/*hide arrows from input number*/

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-apperance: none;
}

.form__row label {
    position: absolute;
    bottom: 2px;
    left: 2px;
    color: var(--red);
    font-size: 14px;
    transition: 0.5s;
}

input:focus~label {
    top: -5px;
    font-size: 10px;
    color: var(--dark-blue);
    /*ktu behet efekti qe kur e shtyp ate emrin prsh leviz ajo*/
}

textarea {
    width: 100%;
    height: 30px;
    margin-top: 1rem;
    border: none;
    border-bottom: 1px solid var(--LIGHT-BLUE);
    outline: none;
    appearance: none;
    resize: none
}

textarea::placeholder {
    color: var(--dark-blue);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form button {
    background-color: var(--dark-blue);
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: var(--LIGHT-BLUE);
    cursor: pointer;
    width: 60%;
    margin: 5px;
}

form button:active {
    transform: scale(0.99);
}


/*footer*/

footer {
    background-color: var(--orange);
}

.footer__cont {
    width: 60%;
    margin: auto;
}

.footer__cont .fab {
    color: var(--DARK);
    font-size: 20px;
    margin: 0 10px;
}